.levels-tabs {
  &.levels-tabs-gray {
    .nav-pills {
      .nav-link {
        background-color: #eee;
      }
    }
  }
  .nav-pills {
    .nav-link {
      margin-bottom: 12px;
      text-align: center;
      background-color: $card-bg;
      box-shadow: $box-shadow;

      &.active {
        background-color: $primary;
      }
      .check-nav-icon {
        font-size: 36px;
      }
    }
  }
}
