@import "loading";
@import "exam";
@import "levels";

// React Date Picker
.react-datepicker-popper {
  z-index: 5;
}

.profile-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.card-body {
  min-height: 150px;
}

.feature-list {
  list-style-type: none;

  li {
    padding: 5px 0px;
    font-size: 16px;
    display: flex;

    span {
      font-size: 24px;
      margin-right: 10px;
      padding-top: 5px;
    }
  }
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.currency {
  font-family: "Times New Roman", Times, serif;
}

// Text colors
.color-violet {
  color: #d9126b;
}

// Background colors
.bg-grey-light {
  background-color: #efefef !important;
}

.bg-white-light {
  background-color: #f9f9f9 !important;
}
